h3.feed-item--loading {
  width: 60%;
}
.feed-item p.feed-item--loading {
  background-color: inherit;
  width: 80%;
  div {
    width: 100%;
  }
}
div.feed-item--loading {
  width: 4rem;
  margin-top: 0.1rem;
  height: 0.9rem;
}

.feed-item--loading {
  color: transparent;
}
